*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.top{
    background-color: #AFD275;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
}
.top .sitename{
    display: inline-block;
    color: #F64C72;
    position: relative;
    top: -10px;
}

.top .menu{
    
    float: right;
    
}

.top .menu a{
    color: #456705;
    display: inline-block;
    min-width: 50px;
    margin-right: 10px;
}

.content{
    width: 70%;
    margin-left:auto ;
    margin-right:auto ;
}

table{
    width: 90%;

}
table tr:nth-child(odd){
    background-color: #456705;
    color: white;
    height: 30px;
}
table tr:nth-child(even){
    background-color: #AFD275;
    /* color: white; */
    height: 30px;
}
table tr:first-child{
    background-color: #F64C72;
}
table td{
    text-align: center;
}

.special{
    color: #F64C72;
    font-weight: bold;
}
.menu a{
    text-decoration: none;
 
}